---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About | Less Cute" active="/about">
  <div class="flex items-center flex-col">
    <p class="text-xl text-gray-100">Silly voting app I made to try out Astro. Still a WIP.</p>
    <a class="mt-4 underline text-blue-500" href="https://www.github.com/andrewlfauth/less-cute">
      Source Code
    </a>
  </div>
</Layout>