---
import Layout from '../layouts/Layout.astro'
import DogListing from '../components/DogListing';
---

<Layout title="Uglier">
	<main class="flex flex-col items-center justify-center">
    <h1 class="text-4xl font-bold">Which dog is uglier?</h1>
    <DogListing dog="Daschund-2.jpg" />
    <!-- <Counter client:visible a={options[0]} b={options[1]} /> -->

    <form action="/api/image/Daschund-2.jpg" method="get">
      <button type="submit">SUBMIT</button>
      <p>HELLO</p>
    </form>
	</main>	
</Layout>
